Repository ducminhle/test-argo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: secrets, deploy

secrets:
  stage: secret
  image: asia.gcr.io/teko-registry/sre/secret-decryptor:v2.1
  variables:
    WORKLOAD: dev
  script:
  - ./_scripts/apply-secrets
  retry: 2
  tags:
  - ci-alpha

deploy:
  stage: deploy
  variables:
    PROVIDER: _vnpaycloud
  image:
    name: dtzar/helm-kubectl:3.7
  script:
  ...

update script
  envs
Due: deploy

update script
  argo-cd-helmfile.sh
Due: none

update script
  echo-service/helmfile.yaml
  echo-service/sandbox-1/echo.yaml
  envs
Due: deploy

update script
  echo-service/__secrets/sanbox-2/test
  echo-service/__secrets/test
  echo-service/echo.yaml.gotmpl
Due: secrets

update script
  .gitlab-ci.yml
  envs
Due: deploy

update script
  echo-service/__secrets/sanbox-2/test
  echo-service/__secrets/test
Due: secrets

update script
  echo-service/__secrets/sanbox-2/test
  echo-service/__secrets/test
  envs
Due: secrets, deploy

update script
  argo-cd-helmfile.sh
  test.sh
Due: none

update script
  echo-service/__secrets/test
Due: secrets

update script
  .gitlab-ci.yml
Due: none

update script
  argo-cd.yaml
  envs
Due: deploy

update secret
  echo-service/__secrets/test
Due: secrets

update script
  echo-service/echo.yaml.gotmpl
  echo-service/helmfile.yaml
  envs
Due: deploy

update script
  argo-cd-helmfile.sh
  envs
Due: deploy

update workloads
  echo-service/echo.yaml.gotmpl
  echo-service/sandbox-1/echo.yaml
Due: none

update workloads
  envs
Due: deploy

update workloads
  echo-service-2/__secrets/sanbox-2/test
  echo-service-2/__secrets/test
  echo-service-2/echo.yaml.gotmpl
  echo-service-2/helmfile.yaml
  echo-service-2/namespace.yaml
  echo-service-2/sandbox-1/echo.yaml
  helmfile.yaml
Due: secrets

SRE-678: Config argo can deploy from YAML config
  .gitignore
  .gitlab-ci.yml
  _scripts/deploy-argocd
  _scripts/generate-envs-file
  argo-cd.yaml
  echo-service-2/echo.yaml.gotmpl
  echo-service-2/helmfile.yaml
  echo-service/echo.yaml.gotmpl
  echo-service/helmfile.yaml
  envs
  namespaces.yaml
  sandboxes.yaml
Due: deploy

SRE-678: Config argo can deploy from YAML config
  .gitlab-ci.yml
  sandboxes.yaml
Due: none

SRE-678: Config argo can deploy from YAML config
  argo-cd-helmfile.sh
Due: none

Path conditions:
  secrets: any of: **/__secrets/*, **/__secrets/**/*
  deploy: any of: envs
